<template>
  <section class="list-songs">
    <nav class="nav">
      <a
        href="javascript:void(0)"
        class="nav__item"
        :class="{ 'nav__item_active': active === 'list' }"
        @click="select('list')"
      >List</a>

      <hr/>

      <a
        href="javascript:void(0)"
        class="nav__item"
        :class="{ 'nav__item_active': active === 'search' }"
        @click="select('search')"
      >Search</a>
    </nav>

    <div class="content">
      <div class="content__info-library">
        <h5>{{ getLengthSong }} songs in the library</h5>
      </div>

      <Search v-if="active === 'search'"/>
      <List v-else-if="active === 'list'" :list="getListSongs"/>
    </div>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import { mapGetters } from "vuex";

import Search from "@/components/ListSongs/components/Search.vue";
import List from "@/components/List.vue";

@Component({
  computed: {
    ...mapGetters([
      "getListSongs",
      "getLengthSong"
    ])
  },
  components: {
    Search,
    List
  }
})

export default class ListSongs extends Vue {
  private active = "list";

  private getListSongs!: any[];
  private getLengthSong!: number;

  select(val:string) {
    this.active = val;
  }
}
</script>

<style scoped>
.list-songs {
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.nav__item {
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

hr {
  height: 40px;
  padding: 0;
  margin: 0;
  width: 1px;
  border: none;
  background-color: black;
}

.nav__item_active {
  background-color: #ccc;
}

.content__info-library {
  text-align: left;
}

.content__info-library h5 {
  margin: 2px 0 2px 5px;
}
</style>