<template>
  <div class="search">
    <form @submit.prevent="search" class="search__form">
      <input type="text" placeholder="Inter the name song" v-model="songNameSearch">
      <button type="submit">Search</button>
    </form>

    <List :list="foundSongs"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";

import List from "@/components/List.vue";

@Component({
  computed: {
    ...mapGetters([
      "getListSongs"
    ])
  },
  components: {
    List
  }
})

export default class Search extends Vue {
  private songNameSearch = "";
  private foundSongs = [] as any[];

  public getListSongs!: any[];

  search() {
    this.foundSongs = this.getListSongs.filter((el) => {
      if (el.nameSong.indexOf(this.songNameSearch) !== -1) return el;
      if (el.artist.indexOf(this.songNameSearch) !== -1) return el;
    })
  }
}
</script>

<style scoped>
.search {
  display: flex;
  flex-direction: column;
  position: relative;
}

.search__form {
  display: flex;
  margin-bottom: 2px;
}

.search__form > input {
  width: 80%;
  height: 30px;
  font-size: 16px;
  padding: 0 0 0 8px;

  border: none;
  background: #ccc;
}

.search__form > button {
  width: 20%;
  height: 30px;
  font-size: 16px;

  border: none;
  background: #ffda4d;

  cursor: pointer;
}

.button-play button {
  background: none;
  border: none;
  cursor: pointer;

  width: 100%;
  height: 100%;
}
</style>