<template>
  <div class="controls">
    <div class="controls__block">
      <div class="controls__button">
        <button type="button" @click="previousSong">
          <img
            src="@/assets/icons/prev-track.png"
            width="30"
            alt="Previous track"
          >
        </button>
      </div>

      <div class="controls__button">
        <button v-if="getPaused" type="button" @click="play">
          <img
            src="@/assets/icons/play.png"
            width="30"
            alt="Play track"
          >
        </button>

        <button v-else type="button" @click="pause">
          <img
            src="@/assets/icons/pause.png"
            width="30"
            alt="Pause track"
          >
        </button>
      </div>

      <div class="controls__button">
        <button type="button" @click="nextSong">
          <img
            src="@/assets/icons/next-track.png"
            width="30"
            alt="Next track"
          >
        </button>
      </div>
    </div>

    <div class="controls__block">
      <input type="range" min="0" max="1" step="0.1" v-model="volumeSong"  @input="setVolumeSong">

      <div class="controls__button">
        <button type="button" @click="toggleMuted">
          <img
            v-if="volumeSong < 0.1 || getMuted"
            src="@/assets/icons/volume-off.png"
            width="30"
            alt="Muted off track"
          >

          <img
            v-else
            src="@/assets/icons/volume-on.png"
            width="30"
            alt="Muted on track"
          >
        </button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";

@Component({
  computed: {
    ...mapGetters([
      "getMuted",
      "getPaused"
    ])
  }
})

export default class Progress extends Vue {
  public getMuted!: boolean;
  public getPaused!: boolean;

  private volumeSong = 1;

  nextSong(): void {
    this.$store.dispatch("nextSong");
  }

  previousSong(): void {
    this.$store.dispatch("previousSong");
  }

  play(): void {
    this.$store.dispatch("play");
  }

  pause(): void {
    this.$store.dispatch("pause");
  }

  toggleMuted(): void {
    this.$store.dispatch("toggleMuted");
  }

  setVolumeSong(evt:any): void {
    const volume = Number(evt.target.value);
    this.$store.dispatch("setVolume", volume);
  }
}
</script>

<style scoped>
.controls {
  width: 100%;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.controls__block {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controls__button button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}


input[type="range"]::-webkit-slider-runnable-track {
  background: #ccc;
  height: 8px;
}

input[type="range"]::-moz-range-track {
  background: #ccc;
  height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -8px;
  background-color: #ffda4d;
  height: 22px;
  width: 12px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: #ffda4d;
  height: 22px;
  width: 12px;
}

@media screen and (max-width: 910px) {
  .controls {
    justify-content: center;
  }
}
</style>