<template>
  <div class="song-info">
    <span class="song-info__name"><b>{{ getActiveSongData.nameSong }}</b></span>
    <span class="song-info__artist">{{ getActiveSongData.artist }}</span>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { mapGetters } from "vuex";

@Component({
  computed: {
    ...mapGetters([
      "getActiveSongData"
    ])
  }
})
export default class Info extends Vue {
  public getActiveSongData!: any;
}
</script>

<style scoped>
.song-info {
  display: flex;
  height: 6vh;
  flex-direction: column;
  text-align: left;
  margin-left: 5px;
  margin-top: 8px;
  margin-bottom: 8px;

}

.song-info__name {}

.song-info__artist {}
</style>