<template>
  <div
    class="progress-wrapper"
    @mousemove="showTimeInfo"
    @mousedown="selectTime(progressSelectTime)"
    @mouseleave="hideTimeInfo"
  >
    <div class="progress" ref="progress">
      <div class="progress__timeline" :style="{ width: (audioCurrentTime / audioDurationTime * 100) + '%' }"></div>
    </div>

    <div class="song-times" v-if="!progressTimeInfo">
      <span class="song-times__current">{{ timeCurrent }}</span>
      <span class="song-times__stop">{{ timeDuration }}</span>
    </div>

    <div
      class="modal"
      :style="{
          left: ((progressSelectTime / audioDurationTime * 100) - 5) + '%',
          display: progressTimeInfo ? 'block' : 'none'
        }"
    >
      <div class="modal__time-pointer"></div>
      {{ timeToString }}
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { convertTimeToMinAndSec } from "@/helpers/songs";

import { mapGetters } from "vuex";

@Component({
  computed: {
    ...mapGetters([
      "getAudio",
    ])
  }
})

export default class Progress extends Vue {
  private audioCurrentTime = 0 as number;
  private audioDurationTime = 0;
  private progressTimeInfo = false;
  private progressSelectTime = 0;
  private progressSong = 0;

  public getAudio!: any;

  get timeToString() {
    return convertTimeToMinAndSec(this.progressSelectTime);
  }

  showTimeInfo(evt:any): void {
    const progress = this.$refs.progress;
    const timelineWidth = window.getComputedStyle(progress).width;
    const timeSong = evt.offsetX / parseInt(timelineWidth) * this.audioDurationTime;

    this.progressTimeInfo = true;
    this.progressSelectTime = timeSong;
  }

  hideTimeInfo(): void {
    this.progressTimeInfo = false;
    this.progressSelectTime = 0;
  }

  mounted() {
    setInterval(() => {
      this.progressSong = ((this.getAudio.currentTime / this.getAudio.duration) * 300);
      this.audioCurrentTime = Math.round(this.getAudio.currentTime);
      this.$store.commit("SET_CURRENT_TIME", Math.round(this.getAudio.currentTime));
      this.audioDurationTime = Math.round(this.getAudio.duration);

      if (this.audioCurrentTime === this.audioDurationTime) {
        this.$store.dispatch("nextSong");
      }

    }, 500)
  }

  get timeCurrent() {
    return convertTimeToMinAndSec(this.audioCurrentTime);
  }

  get timeDuration() {
    return convertTimeToMinAndSec(this.audioDurationTime);
  }

  selectTime(val:number): void {
    this.setTime(val);
  }

  setTime(time: number): void {
    this.getAudio.currentTime = time;
  }
}
</script>

<style scoped>
.progress-wrapper {
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  background: #ccc;
}

.progress {
  width: 100%;
  height: 20px;
}

.progress__timeline {
  background: #ffda4d;
  width: 0;
  height: 20px;
}

.song-times {
  position: absolute;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  user-select: none;
  z-index: 99;
}

.modal {
  width: 40px;
  background: #000;
  position: absolute;
  top: -36px;
  color: #fff;
  padding: 4px;
}

.modal__time-pointer {
  display: block;
  margin: 0 0 -8px -8px;
  border-bottom: none;
  border-top-width: 8px;
  border-top-style: solid;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 24px;
  color: #000;
}
</style>