<template>
  <div class="container">
    <slot></slot>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";

@Component
export default class Player extends Vue {}
</script>

<style scoped>
.container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    height: 100%;
  }
}
</style>