<template>
  <div class="list">
    <a
      href="javascript:void(0)"
      class="list__item"
      :class="{'active': getActiveSongData.id === song.id}"
      v-for="(song, id) in list"
      :key="id"
      @click="playPause(song.id)"
    >
      <div class="info">
        <span class="info__name"><b>{{ song.nameSong }}</b></span>
        <span class="info__artist">{{ song.artist }}</span>
      </div>

      <div class="time">
        <span>{{  getActiveSongData.id === song.id ? timeToString : "00:00" }}</span>
        /
        <span>{{ song.time }}</span>
      </div>
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { mapGetters } from "vuex";
import { convertTimeToMinAndSec } from "@/helpers/songs";

@Component({
  computed: {
    ...mapGetters([
      "getPaused",
      "getActiveSongId",
      "getCurrentTime",
      "getListSongs",
      "getActiveSongData"
    ])
  }
})
export default class ListSongs extends Vue {
  @Prop() list!: any[];

  public getActiveSongId!: number;
  public getPaused!: boolean;
  public getCurrentTime!: number;
  public getListSongs!: any[];
  public getActiveSongData!: any[];

  get timeToString() {
    return convertTimeToMinAndSec(this.getCurrentTime);
  }

  selectSong(id:number): void {

    const song = this.getListSongs.find(el => el.id == id);
    const indexSong = this.getListSongs.indexOf(song);
    this.$store.dispatch("playSelectSong", indexSong);

    console.log(song, 'song');
    console.log(indexSong, 'indexSong');
  }

  playPause(id:number) {
    console.log(id, 'id')
    console.log(this.getActiveSongId, 'getActiveSongId')

    if (id === this.getActiveSongData.id) {
      if (!this.getPaused) {
        this.$store.dispatch("pause");
      } else {
        this.$store.dispatch("play");
      }
    } else {
      console.log('SELECT')
      this.selectSong(id)
    }
  }
}
</script>

<style scoped>
.list {
  display: flex;
  flex-direction: column;
  height: 34vh;
  overflow: scroll;
}

.list__item {
  width: 100%;
  height: 68px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #ccc;
  margin-bottom: 2px;
  box-sizing: border-box;
  padding: 5px;

  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.active {
  background: #ffda4d;
}
</style>