<template>
  <section class="player">
    <div class="player__logo">
      <img src="@/assets/logo-song.png" height="100%" alt="Logo">
    </div>

    <Progress/>

    <Info/>

    <Controls/>
  </section>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import Progress from "@/components/Player/components/Progress.vue";
import Controls from "@/components/Player/components/Controls.vue";
import Info from "@/components/Player/components/Info.vue";

@Component({
  components: {
    Progress,
    Controls,
    Info
  }
})

export default class Player extends Vue {}
</script>

<style scoped>
.player {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.player__logo {
  width: 100%;
  height: 30vh;
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>