<template>
  <div id="app">
    <container>
      <Player/>
      <ListSongs/>
    </container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import Container from "@/components/Container.vue";
import Player from "@/components/Player/index.vue";
import ListSongs from "@/components/ListSongs/index.vue";

@Component({
  components: {
    Container,
    Player,
    ListSongs
  },
})

export default class App extends Vue {
  mounted() {
    this.$store.dispatch("loadListSongs");
  }
}
</script>

<style>
body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
